<h1>About Bloccit</h1>
<p>Created by: Me</p>

<button class="social-btn"><%= link_to "Facebook", "https://www.facebook.com" %></button>

<!-- I couldn't figure out how to use the link_to method other than
this way which I found on stack overflow. -->
