<h1>About Bloccit</h1>
<p>Created by: Me</p>

<%= link_to "http://www.facebook.com" do %>
<div class="social-btn">
  <p>Facebook</p>
</div>
<% end %>

<!-- I couldn't figure out how to use the link_to method other than
this way which I found on stack overflow. -->
