// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: #43609C;
  border: solid #6D9EFF 10px;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-style: tahoma;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

/* how could we eliminate the underlined text when we hover? I tried with
following with no luck

.social-btn a:hover {
  text-decoration: none;
}

*/
